.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: blue;
  color: white;
}
.header ul{
  display: flex;
  gap: 20px;
}
li{
  list-style: none;
  font-size: large;

}
li a{
  text-decoration: none;
  color: white;
}